<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <%= stylesheet_link_tag    "user_error/application", media: "all" %>
  <%= javascript_include_tag "user_error/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
